.button_h:hover {
  background-color: #404850;
}
.button_h:active {
  background-color: #30373d;
}

.side_icon {
  fill: white;
  margin: 0 auto 5px;
}

.side_iconH {
  fill: white;
}

.table {
  height: 800px;
  width: 100%;
}

.solid-border {
  border: 1px solid;
  margin-right: 1rem;
}
